body, html {
    height: 100%;
    background-image: url("https://images.pexels.com/photos/875858/pexels-photo-875858.png?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container-fluid {
    background: rgb(72, 217, 243);
    margin : 0 0 10px 0;
    color: white;
}

.geoButton {
    margin : 50px;
    text-align: center;
    color: white;
}

.geoButton-btn {
    margin : 100px 25% 10px;
    text-align: center
}

.data{
     text-align: center
}

.searchButton{
    position: relative;
    color: black;
    background-color: rgb(72, 217, 243);
    margin : 0 0 0 112%;
    
}

.form-group {
    width: 40%;
    margin : 0 45%;
}
.form-control{
    position: absolute;
    width: 40%;

}

#searchBar {
    margin : 0 40% 0 0;
    color: white;
}


.card {
    width: 222px;
    height: 300px;
    margin: 5px;

}

.card-deck {
    position: relative;
    margin: 10px;
    margin-left: 3%;
    margin-right: 3%;

    text-align: center;
    
}

.cityName {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.card-img-top {
    width: 220px;
    height: 150px;
}