.container-fluid {
    background: rgb(72, 217, 243);
    margin : 0 0 10px 0;
}

.geoButton {
    margin : 50px;
    text-align: center
}

.geoButton-btn {
    margin : 100px 25% 10px;
    text-align: center
}

.data{
     text-align: center
}

.searchButton{
    position: absolute;
    color: black;
    background-color: rgb(72, 217, 243);
    margin : 0 0 0 67%;
}

.form-group {
    width: 40%;
    margin : 0 45%;
}
.form-control{
    position: absolute;
    width: 40%;

}

#searchBar {
    margin : 0 40% 0 0;
}
