.container-fluid {
    background: rgb(72, 217, 243)
}

.geoButton {
    margin : 50px;
    text-align: center
}

.geoButton-btn {
    margin : 100px 25% 10px;
    text-align: center
}
 .data{
     text-align: center
 }